<div ng-controller="StartCtrl">	
	<div flex-xs flex-gt-xs="50" layout="column">
		<md-card>
	  	<md-card-title>
		    <md-card-title-text>
	        <span class="md-headline">Saldo</span>
	        <span class="md-subhead">R$ 50,00</span>
		    </md-card-title-text>
		  </md-card-title>
	  </md-card>
	</div>
	<div>
	 <md-list>
		 	<md-list-item ng-repeat="(key, value) in list" ng-click="selectItem()">
		 		<div flex="40">
		 			Conta: {{value.name}}
		 		</div>
		 		<div flex>
		 			Valor: {{value.valor | currency:"R$"}}
		 		</div>
		 		<md-divider ng-if="!last"></md-divider>
		 	</md-list-item>
	 	</md-list>
	</div>
	<div layout="row" layout-align="center center">
		<md-button class="md-fab md-primary" aria-label="pagar" ui-sref="home.search">pagar</md-button>
	</div>
<div>