<div ng-controller="StartCtrl" class="md-padding" layout-xs="column" layout="column">
	<div flex-xs flex-gt-xs="50" layout-align="center center">
		<md-card>
	  	<md-card-title>
		    <md-card-title-text layout-align="center center">
		    	<canvas id="bar" class="chart chart-bar"
				  	chart-data="data" chart-labels="labels">
					</canvas
	        <span class="md-headline">Saldo</span>
	        <span class="md-subhead">R$ 50,00</span>
		    </md-card-title-text>
		  </md-card-title>
	  </md-card>
	</div>
	<div>
		<md-list>
			<md-list-item class="md-3-line" ng-repeat="(key, value) in list">
				<div class="md-list-item-text" layout="column">
						<h3>Valor: {{value.valor | currency:"R$"}}</h3> 
						<h4 ng-if="value.mensagem">Mensagem: {{value.mensagem}}</h4>
						<p>{{value.tipo}} - Data: {{value.data | date:'dd-MM-yyyy'}}</p>
				</div>
				<md-divider ng-if="!last"></md-divider>
			</md-list-item>
		</md-list>
	</div>
<div>