<md-content class="md-padding" layout-xs="column" layout="column">
	<md-input-container class="md-block">
    <label>pesquisar</label>
    <input ng-model="name">
  </md-input-container>
	<md-list>
	 	<md-list-item ng-repeat="user in users | filter:name" ng-click="navegar(user)">
			<img src="/app/assets/img/default-user.png" class="md-avatar" alt="{{item.nome}}" />
          <div class="md-list-item-text" layout="column">
            <p>{{ user.nome }}</p>
          </div>
	 	<md-divider ng-if="!last"></md-divider>
	 	</md-list-item>
 	</md-list>
</md-content>