<md-dialog  flex="70">
  <md-dialog-content layout="row" layout-fill layout-align="center center">
    <md-card flex>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">WePay</span>
          <span class="md-subhead">Login</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Usuario</label>
            <input ng-model="usuario.nome">
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Senha</label>
            <input ng-model="usuario.senha">
          </md-input-container>
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="cadastar()">Cadastrar-se</md-button>
        <md-button ng-click="login()">Login</md-button>
      </md-card-actions>
    </md-card>
  </md-dialog-content>

</md-dialog>